<div class="demo">
    <div class="report">
        <!-- <div *ngFor="let i in reportData"> -->
            1
        <!-- </div> -->
        <!-- <app-bar-chart [chartData]="editBox"
            class="barchart" (mousedown)="mousedown('.barchart')"></app-bar-chart>
        <app-pie-chart class="piechart" (mousedown)="mousedown('.piechart')"></app-pie-chart> -->

    </div>

    <div class="editBox">

        <button (click)="editBox.type=1"> 長條圖 </button>
        <button (click)="editBox.type=2"> 圓餅圖 </button>
        <input class="edit Title" placeholder="請輸入標題" [(ngModel)]="editBox.title">
        <input class="edit Category" placeholder="請輸入分類 每一項以,分開" [(ngModel)]="editBox.category">
        <input class="edit Data" placeholder="請輸入內容 每一項以,分開" [(ngModel)]="editBox.data">

        <button (click)="generate()">新增</button>

    </div>

</div>