.barchart{
    width: 300px; 
    height: 300px;
    position:absolute; 
}

.piechart{
    width: 500px; 
    height: 300px;
    position:absolute; 
}

.editBox{
    width: 20vw;
    height: 100vh;
    background-color: #00c391;
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-wrap: nowrap;
}

.demo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.report{
    flex-basis:80%;
}

.edit{
    margin-top: 2vh;
    width: 50%;
    height: 3vh;
}
.delete-icon{
    color: red;
}
.chart-icon{
    color:#D0F7E9 ;
    font-size: 3.5vw;
    width: 3.5vw;
    height: auto;
    margin-top: 3vh;
}
.display{
    box-shadow: 0 0 30px 1px rgba(51, 51, 51, 0.5);
}
.iconList{
    width: 100%;   
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.Title{
    // margin-top: 6vh;
}

.generate{
    margin-top: 3vh;
}

.barchart0{
    visibility:hidden;
}

